# Xcode
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/xcuserdata/
*/*/xcuserdata/
*/*/*/xcuserdata/
*/*/*/xcuserdata/*.xcuserdatad/
*.xcuserstate
*/*/*/*.xcuserstate
*/xcshareddata/
*/*/xcshareddata/
*/*/*/xcshareddata/
*.xcodeproj/xcuserdata/
*/*/*/*.xcworkspace/xcuserdata/
